
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEXTTILS</title>
</head>
<body>
    <h1>Various Functions</h1>
    <form action="removepunc" method="get">
        <textarea name="text" style="margin: 0px; width: 1213px; height: 200px;"></textarea><br>
        <input type="checkbox" name="rmpunc">Remove Puncuation<br>
        <input type="checkbox" name="fullcaps">Upper Case<br>
        <input type="checkbox" name="fulllower" >Lower Case<br>
        <input type="checkbox" name="rmline">Remove Next Line<br>
        <input type="checkbox" name="extspc">Extra Space Remover<br>
        <input type="checkbox" name="charcount">Character count<br>

        <button type="submit">Analyze text</button>
    </form>
</body>
</html>